page {
  box-sizing: border-box;
}

.app {
  // height: calc(100vh - 44px);
  height: 100vh;
  color: #000000;
  background: #ffffff;
  overflow: auto;
}
.dark {
  color: #ffffff;
  background: #121212;
}

.bt-btn{
  @apply fixed bottom-0  w-full;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0; /*高宽分别对应横竖滚动条的尺寸*/
  height: 0;
}

.page-ct {
  // #ifdef MP-WEIXIN
  height: 100vh;
  // #endif
  // #ifndef MP-WEIXIN
  height: calc(100vh - 44px);
  // #endif
}
