@import '../uni.scss';
page,root-portal {
  box-sizing: border-box;
  // 组件级变量不会随 ConfigProvider 传到小程序自定义组件，需在 page 声明
  --wot-navbar-bg: transparent;
  --wot-navbar-color: #fff;
  --wot-primary-6: #{$-color-theme};
}
.border-box {
  box-sizing: border-box;
}
.app {
  height: 100vh;
  color: #000000;
  font-family: sans-serif;
  overflow: auto;
  // background: url($base-url + 'bg.png') no-repeat top left/100% #{$-color-theme};
}
.dark {
  color: #ffffff;
  background: #121212;
}

.bt-btn{
  position: fixed;
  bottom: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.page-ct {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

// .card-form,.custom-form{
//   .wd-cell__left{
//     width:auto !important;
//     flex: none !important;
//   }
//   .wd-picker__value{
//     margin-right: 0 !important;
//   }
//   .wd-icon-arrow-right{
//     color: #999 !important;
//     font-size: 28rpx !important;
//   }
//   .uni-input-input,.uni-input-placeholder,.wd-input__error-message,.wd-cell__error-message,.wd-calendar__value,.wd-calendar__error-message,.wd-form-item__error-message,
//   .wd-input__inner,.uni-textarea-textarea,.uni-textarea-placeholder,.wd-calendar__error-message,.wd-picker__error-message,.wd-textarea__error-message{
//     text-align: right !important;
//     margin-right: 0 !important;
//   }
//   .wd-upload{
//     justify-content: flex-end;
//   }
// }
// .pop-search{
//   .wd-search__input{
//     text-align: left !important;
//   }
// .uni-input-input,
// .uni-input-placeholder,
// .wd-search__input {
//   text-align: left !important;
// }
// }
.footer-button{
  padding: 4px;
}

.footer-box {
  display: flex;
  justify-content: between;
  align-items: center;
  padding: 24rpx;
  background-color: #fff;
  gap: 30rpx;
  &.bg-tp{
    background-color: transparent;
    padding-top: 0;
  }
  .wd-button{
    flex:1;
    &.is-primary {
      background: linear-gradient(90deg, #1E88E5 0%, #27B5FF 100%) !important;
      &.is-plain{
        background: none !important;
      }
    }
  }

  .blue-fill-btn {
    flex: 1;
    background: linear-gradient(90deg, #1E88E5 0%, #27B5FF 100%);
    border-radius: 100rpx;
    color: #fff;
    height: 80rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
}

.boxShadow{
  box-shadow: 0 4px 8px 0rpx rgba(0, 0, 0, 0.02);
}

.input-placeholder,
.uni-textarea-placeholder,
.date-box .placeholder,
.textarea-placeholder {
  color: #c0c4cc !important;
  font-size: 14px !important;
}

.uni-input-input,
.date-box .text {
  color: #333 !important;
  font-size: 14px !important;
}
